{% extends 'base.html'%}

{% block body %}
  
        <!-- Page Banner Section Start -->
        <div class="page-banner bg-color-05">
            <div class="page-banner__wrapper">
                <div class="container">

                    <!-- Page Breadcrumb Start -->
                    <div class="page-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href={{ url_for('home.homepage') }}>Home</a></li>
                            <li class="breadcrumb-item active">Cart</li>
                        </ul>
                    </div>
                    <!-- Page Breadcrumb End -->

                    <!-- Page Banner Caption Start -->
                    <div class="page-banner__caption text-center">
                        <h2 class="page-banner__main-title">Cart</h2>
                    </div>
                    <!-- Page Banner Caption End -->

                </div>
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- Offcanvas Start -->
        <div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url(assets/images/mobile-bg.jpg);">
            <div class="offcanvas-header bg-white">
                <div class="offcanvas-logo">
                    <a class="offcanvas-logo__logo" href="#"><img src="../static/assets/images/dark-logo.png" alt="Logo"></a>
                </div>
                <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fal fa-times"></i></button>
            </div>

            <div class="offcanvas-body">
                <nav class="canvas-menu">
                    <ul class="offcanvas-menu">
                        <li><a class="active" href={{ url_for('home.homepage') }}><span>Home</span></a></li>
                        <li>
                            <a href={{ url_for('course.courses') }}><span>Courses</span></a>
                            
                        </li>
                        <li>
                            <a href={{ url_for('blog.blogs') }}><span>Blog</span></a> 
                            
                        </li>
                        <li>
                            <a href="#"><span>Help?</span></a>
                            <ul class="sub-menu">
                                
                                <li><a href={{ url_for('aboutUs.about') }}><span>About us</span></a></li>
                                <li><a href={{ url_for('contactUs.contact') }}><span>Contact us</span></a></li>  
                                <!-- <li><a href="membership-plans.html"><span>Membership plans</span></a></li> -->
                                <li><a href="faqs.html"><span>FAQs</span></a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>more</span></a>
                            <ul class="sub-menu">
                                <li><a href={{ url_for('events.event') }}><span>Events</span></a></li>
                                <li><a href={{ url_for('shop.shops') }}><span>Shop</span></a></li>
                                <li><a href={{ url_for('account.accounts') }}><span>My account</span></a></li>
                                <li><a href={{ url_for('wishlist.wishlists') }}><span>Wishlist</span></a></li>
                                <li><a href={{ url_for('cart.carts') }}><span>Cart</span></a></li>
                                {%if current_user.is_admin == True%}
                                <li><a href=""><span>Admin dash</span></a></li>
                                {%endif%}
                            </ul>
                        </li>
















                    </ul>
                </nav>
            </div>

            <!-- Header User Button Start -->
            <div class="offcanvas-user d-lg-none">
                <div class="offcanvas-user__button">
                    <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
                </div>
                <div class="offcanvas-user__button">
                    <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
                </div>
            </div>
            <!-- Header User Button End -->

        </div>
        <!-- Offcanvas End -->

        <!-- Cart Section Start -->
        <div class="cart-section section-padding-01">
            <div class="container custom-container">
                {%with messages = get_flashed_messages(with_categories = True)%}
                {%if messages%}
                {%for category,message in messages%}
                <div class="alert alert-{{category}}" role="alert">
                    {{message}}
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}
                <form action="#">

                    <!-- Cart Table Start -->
                    <div class="cart-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product">Product</th>
                                    <th class="price">Price</th>
                                    <th class="quantity">Quantity</th>
                                    <th class="subtotal">Subtotal</th>
                                    <th class="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                              {%for item in current_user.cart_items%}
                                <tr>
                                    <td class="product">
                                        <div class="cart-product">
                                            <div class="cart-product__thumbnail">
                                                <img src="../static/uploads/{{item.cart_item_parent.image}}" alt="Product" width="70" height="81">
                                            </div>
                                            <div class="cart-product__content">
                                                <h3 class="cart-product__name">{{item.cart_item_parent.name}}</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <div class="cart-product__price">
                                            <span class="sale-price">${{item.cart_item_parent.price()}}.<small class="separator">00</small></span>
                                        </div>
                                    </td>
                                    <td class="quantity">
                                        <div class="cart-product">
                                            <div class="product-quantity">
                                                <button type="button" class="sub"></button>
                                                <input type="text" value="{{item.quantity}}">
                                                <button type="button" class="add"></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="subtotal">
                                        <div class="cart-product__total-price">
                                            <span class="sale-price discount">${{item.cart_item_parent.price() * item.quantity}}.<small class="separator">00</small></span>
                                        </div>
                                    </td>
                                    <td class="action">
                                        <div class="cart-product__remove">
                                            <a class="remove" href="{{url_for('cart.remove_from_cart',id = item.id)}}">Remove</a>
                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <!-- Cart Table End -->
                {%if current_user.cart_items | length !=0 %}

                    <!-- Cart Actions Start -->
                    <div class="cart-action d-flex flex-wrap justify-content-between gap-2">
                        <div class="cart-action__left">
                            <a class="btn btn-light btn-hover-primary" href="{{url_for('shop.shops')}}">Continue shopping</a>
                            <a class="cart-action__item" href="{{url_for('cart.delete_all')}}"><i class="fal fa-times"></i> Clear shopping cart</a>
                        </div>
                       <!-- <div class="cart-action__right">
                            <button class="btn btn-secondary btn-hover-primary">Update cart</button>
                        </div> -->
                    </div>
                    <!-- Cart Actions End -->
                    {%else%}
                    <br>
                    <div class="alert alert-warning" role="alert">
                        Items you've added to cart will appear here!
                       </div>
                 
                    {%endif%}

                    <!-- Cart Collaterals Start -->
                    <div class="cart-collaterals">
                        <div class="row gy-6">
                          <!--  <div class="col-lg-4">
                                <!-- Cart Collaterals Start 
                                <div class="cart-collaterals__item">
                                    <h5 class="cart-collaterals__title">Coupon Discount</h5>
                                    <p>Enter your coupon code if you have one.</p>

                                    <div class="cart-collaterals__input">
                                        <input type="text" class="form-control" placeholder="Coupon code">
                                    </div>
                                    <div class="cart-collaterals__input">
                                        <button class="btn btn-primary btn-hover-secondary">Apply coupon</button>
                                    </div>
                                </div>
                                 Cart Collaterals End 
                            </div> -->
                            <div class="col-lg-6">
                                <!-- Cart Collaterals Start -->
                                <div class="cart-collaterals__item">
                                    <h5 class="cart-collaterals__title">Calculate shipping</h5>
                                    <p>Select a shipping method</p>

                                    <div class="cart-collaterals__shipping-method">
                                        <ul class="cart-collaterals__shipping-check">
                                        </ul>
                                        <!--
                                            <li class="form-check">
                                                <input type="radio" id="radio1" checked="" name="shipping">
                                                <label for="radio1">Free shipping</label>
                                            </li> -->
                                           
                                            <li class="form-check">
                                                <input type="radio" id="radio2" name="shipping" checked>
                                                <label for="radio2">Flat rate: <strong class="price">$5.00</strong></label>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <!-- Cart Collaterals End -->
                            </div>
                            <div class="col-lg-5">
                                <!-- Cart Collaterals Start -->
                                <div class="cart-collaterals__item">

                                    <div class="cart-collaterals__box">
                                        <table class="cart-collaterals__table">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td>
                                                        <span class="subtotal-price">${{sub_total}}<span class="separator">.00</span></span>
                                                    </td>
                                                </tr>
                                                {%if current_user.cart_items | length != 0%}
                                                <tr class="cart-shipping">
                                                    <th>Shipping</th>
                                                    <td><span class="shipping-fee">$5<span class="separator">.00</span></span></td>
                                                </tr>

                                                {%endif%}
                                                {%if current_user.cart_items | length != 0%}
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <span class="total-price">${{sub_total + 5}}<span class="separator">.00</span></span>
                                                    </td>
                                                </tr>
                                                {%else%}
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <span class="total-price">${{sub_total}}<span class="separator">.00</span></span>
                                                    </td>
                                                </tr>


                                                {%endif%}
                                            </tbody>
                                        </table>

                                        <div class="cart-collaterals__btn">
                                            <a class="btn btn-primary btn-hover-secondary w-100" href="{{url_for('checkout.checkout_page')}}">Checkout</a>
                                        </div>
                                    </div>

                                </div>
                                <!-- Cart Collaterals End -->
                            </div>
                        </div>
                    </div>
                    <!-- Cart Collaterals End -->

                </form>

            </div>
        </div>
        <!-- Cart Section End -->
{% endblock %}