<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newEventUpload" method="post" enctype="multipart/form-data">
        <label for="heading">Event heading:</label>
        <input type="text" name="heading" id="heading">

        <label for="price">Event Price:</label>
        <input type="number" name="price" id="price">

        <label for="paragraph">Event Description:</label>
        <textarea name="paragraph" id="paragraph"  rows="15" cols="60"></textarea> 

        <label for="image">Image:</label>
        <input type="file" name="image" id="image">

        <label for="is_popular">Is Popular</label>
        <input type="checkbox" name="is_popular" id="is_popular">

        
        <br>
        <input type="submit" value="submit">

    </form>
</body>
</html>