<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newEventSpeaker" method="post" enctype="multipart/form-data">
        <label for="name">Speaker's Name:</label>
        <input type="text" name="name" id="name">

        <label for="occupation">Speaker's Occupation:</label>
        <input type="text" name="occupation" id="occupation">

        <label for="image">Image:</label>
        <input type="file" name="image" id="image">
        
        <br>
        <input type="submit" value="submit">

    </form>
</body>
</html>