{%extends 'dashboard-base.html'%}

{%block head%}

{%endblock%}


{%block body%}
 <!-- Dashboard Content Start -->
 <div class="dashboard-content">

    <div class="container">
        <h4 class="dashboard-title">New Category</h4>
    {%with messages = get_flashed_messages(with_categories = True)%}
    {%if messages%}
    {%for category,message in messages%}
    <div class="alert alert-{{category}}" role="alert">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}


        <div class="form" style="background-color: white;padding: 10px;">

            <form action="{{url_for('courseUpload.instructorUpload')}}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Instructor's Name</label>
                    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" >
                  </div>
                  <br>
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input class="form-control" name="image" type="file" id="formFile">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Add</button>
                
                
            </form>
        </div>






    </div>
</div>
    <!--dashboard content end-->


{%endblock%}