{% extends 'base.html'%}

{% block head%}
<title>password reset successfully</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="end-checkout-wrapp">
        <div class="end-checkout checkout-form">
            <div class="icon">
            </div>
            <h3 class="title-checkend">
                Your password has been changed successfully.
            </h3>
            <div class="sub-title">
                Your new password has been changed successfully,you can now proceed with login.
            </div>
            <a href="/login" class="button btn-return">Return to Login</a>
        </div>
    </div>
</div>
{% end block %}