{% extends 'base.html'%}

{%block head%}
<title>Forget password</title>
{%endblock%}

{%block body%}
<div class="container" style="text-align: center;padding: 10px;">
    <div  style="background-color: white;">
        <div class="login-item">
            <h5 class="title-login">Reset Password</h5>
           
            <form class="login" action="/reset-password/{{token}}" method="post" enctype="multipart/form-data">
                <p>Enter new password below.</p>
            
                <p class="form-row form-row-wide">
                    <label class="text">password</label>
                    <input title="password" name="password" type="password" class="input-text">
                </p>
                <p class="form-row form-row-wide">
                    <label class="text">Confirm password</label>
                    <input title="confirm password" name="cpassword" type="password" class="input-text">
                </p>
                
                <p class="lost_password">
                <!--	<span class="inline">
                        <input type="checkbox" id="cb1">
                        <label for="cb1" class="label-text">Remember me</label>
                    </span> -->
                    <a href="/login" class="forgot-pw">Back to login?</a>
                </p>
                <p class="form-row">
                    <input type="submit" class="button-submit" value="reset">
                </p>
            </form>
        </div>
    </div>
</div>
{%endblock%}